
body {
    max-width: 800px;
    margin: 0 auto
}

#code {
    width: 100%;
    height: 180px;
}

.button-container {
    display: flex;
    justify-content: end;
    height: 50px;
    align-items: center;
    gap: 10px;
}

button {
    padding: 6px 18px;

}
